@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

@import "tailwindcss";

@utility font-caveat {
  font-family: "Caveat", cursive;
}

:root {
  --color-bg: #f3f0ff;
  --color-text: #111111;
  --color-muted: #666666;
  --color-border: #e5e5e5;
  --color-accent: #6b47dc;
  --color-card: #f8f8f8;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
